* {
    background-color: black;
    color: white;
}
div {
    margin-left: 40%;
    margin-top: 10%
}
.ab {
    text-transform: uppercase;
    margin-left: 60px;
    font-family: 'Libre Baskerville', serif;

}
.cd {
    margin-left: 20px;
    font-size: large;

}